/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #d6d6d6;
}

.geral {
    display: grid;
}

.container {
    max-width: 1000px;
    margin:auto;
}

.card-pesquisa,
.card-video {
    width: 450px;
}

.width-100 {
    width: 100%;
}